body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #1f1c2c, #928dab);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.lobby-container {
  margin-top: 10%;
}
